html, body{
    height: 100%;
}

body{
display: flex;
font-family: Roboto, sans-serif;
/*border: solid coral;*/
}

img {
width: 60px;
/*border: solid green;*/
padding: 16px;
}

ul{
list-style-type: none;
margin: 0;
padding: 0;  
}

a{
text-decoration: none;
}

.container1{
display:flex;
justify-content: space-between;
align-items: center;
gap:500px;
}

ul{
display:flex;
justify-content: space-between;
align-items: center;
gap: 16px;    
/*border: solid cornflowerblue;*/
padding-left: 400px;
}

